
header{
	
	overflow: hidden;
}

#top-header{
		
	text-align: center;
	height: 60px;
}


#logo{
	float: left;
	padding: none;
	margin: none;
	height: 60px;
	width: 10%;
}

#logo img{
	width: 60%;
	float: left;
	padding: 10px 0px;
}


.searchBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:  translate(-50%,50%);
    background: #ffffff;
    height: 40px;
    border-radius: 40px;
    padding: 10px;

}

.searchBox:hover > .searchInput {
    width: 240px;
    padding: 0 6px;
}

.searchBox:hover > .searchButton {
  background: rgb(26, 2, 105);
  color : #0b066e;
}

.searchButton {
    color: rgb(255, 255, 255);
    float: right;
    width: 75px;
    height: 40px;
    border-radius: 40%;
    background: #05017d;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.searchInput {
    border:none;
    background: none;
    outline:none;
    float:left;
    padding: 0;
    color: rgb(19, 3, 112);
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;

}

@media screen and (max-width: 620px) {
.searchBox:hover > .searchInput {
    width: 150px;
    padding: 0 6px;
}
